@{
    ViewData["Title"] = "Home Page";
}

@model List<Night>


<h3>Here is a list of the past few nights</h3>
<div class="row">
    <div class="col-6">
        <table class="table table-bordered table-striped text-center">
            <thead>
            <th>Night</th>
            <th>Date</th>
            <th>Total Hrs Slept</th>
            <th></th>
            </thead>
            
            <tbody>
            @foreach (var n in Model)
            {
                <tr>
                    <td>@n.Day</td>
                    <td>@n.Date</td>
                    <td>@n.TotalBabyHours</td>
                    <td><a href="@Url.Action("Night", "Home", new { id = n.NightId })" class="btn btn-primary">Night Details</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>



<h6>Add another night here👇🏼</h6>
<a asp-controller="Home" asp-action="AddNight" class="btn btn-primary">Add Night</a>