@{
    ViewData["Title"] = "Home Page";
}


<h3>Here is a list of the past few nights</h3>

<table class="table-primary table-bordered">
    <th>Nights</th>
    <tr>
        <td>Monday</td>
        <td>6 </td>
    </tr>
    <tr>
        <td>Tuesday</td>
        <td>6.5</td>
    </tr>
    <tr>
        <td>Wednesday</td>
        <td>5</td>
    </tr>
</table>